@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --background-primary: hsl(0, 0%, 100%);
  --background-alt: hsl(0, 0%, 90%);
  --text-primary: #000000;
  --text-alt: #ffffff;
  --color-red: hsl(0, 70%, 50%);
  --color-red-alt: hsl(0, 70%, 75%);
  --color-orange: hsl(30, 70%, 50%);
  --color-orange-alt: hsl(30, 70%, 75%);
  --color-yellow: hsl(60, 80%, 50%);
  --color-yellow-alt: hsl(60, 80%, 75%);
}

[data-theme='dark'] {
  --background-primary: hsl(0, 0%, 10%);
  --background-alt: hsl(0, 0%, 5%);
  --text-primary: hsl(0, 0%, 90%);
  --text-alt: hsl(0, 0%, 90%);
  --color-red: hsl(0, 80%, 50%);
  --color-red-alt: hsl(0, 80%, 25%);
  --color-orange: hsl(30, 80%, 50%);
  --color-orange-alt: hsl(30, 80%, 25%);
  --color-yellow: hsl(60, 90%, 50%);
  --color-yellow-alt: hsl(60, 90%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(0.75rem + 1.125em);
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

img {
  width: 100%;
}

main {
  min-height: 100vh;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--text-primary);
  background-color: var(--color-red);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: var(--color-red-alt);
}

.button:active {
  transform: scale(0.95);
}

.bg-primary {
  background-color: var(--background-primary);
}
.bg-color-red {
  background-color: var(--color-red);
}

.bg-color-red-alt {
  background-color: var(--color-red-alt);
}

.bg-color-orange {
  background-color: var(--color-orange);
}

.bg-color-orange-alt {
  background-color: var(--color-orange-alt);
}

.bg-color-yellow {
  background-color: var(--color-yellow);
}

.bg-color-yellow-alt {
  background-color: var(--color-yellow-alt);
}

.text-primary {
  color: var(--text-primary);
}

.text-alt {
  color: var(--text-alt);
}

.text-color-red {
  color: var(--color-red);
}

.text-color-red-alt {
  color: var(--color-red-alt);
}

.text-color-orange {
  color: var(--color-orange);
}

.text-color-orange-alt {
  color: var(--color-orange-alt);
}

.text-color-yellow {
  color: var(--color-yellow);
}

.text-color-yellow-alt {
  color: var(--color-yellow-alt);
}

.button-reverse-red {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-red);
  background-color: transparent;
  border: 2px solid var(--color-red);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button-reverse:hover {
  background-color: var(--color-red);
  color: var(--text-alt);
}

.button-reverse:active {
  transform: scale(0.95);
}

.button-reverse-red {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-red);
  background-color: transparent;
  border: 2px solid var(--color-red);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button-reverse-red:hover {
  background-color: var(--color-red);
  color: var(--text-alt);
}

.button-reverse-red:active {
  transform: scale(0.95);
}

.button-reverse-red {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-red);
  background-color: transparent;
  border: 2px solid var(--color-red);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button-reverse:hover {
  background-color: var(--color-red);
  color: var(--text-alt);
}

.button-reverse:active {
  transform: scale(0.95);
}

.button-reverse-yellow {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-yellow);
  background-color: transparent;
  border: 2px solid var(--color-yellow);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button-reverse-yellow :hover {
  background-color: var(--color-yellow);
  color: var(--text-alt);
}

.button-reverse-yellow :active {
  transform: scale(0.95);
}

.button-reverse-orange {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-orange);
  background-color: transparent;
  border: 2px solid var(--color-orange);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button-reverse-orange:hover {
  background-color: var(--color-orange);
  color: var(--text-alt);
}

.button-reverse-orange:active {
  transform: scale(0.95);
}

.container-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 60rem) {
  .container-3col {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.grid-2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
